* {}

.shop {
    text-align: center;
    background-color: rgb(12, 117, 90);
    padding: 30px;
    height: 320px;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
}

.comp {
    width: 200px;
    height: auto;
}

.rodape {
    text-align: center;
    color: rgb(12, 117, 90);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.img1 {
    width: 70px;

}

.img2 {
    width: 50px;
}

.img3 {
    width: 50px;
}

.logos {
    text-align: center;
}

.centro {
    text-align: center;
}

.nome {
    font-family: sans-serif;
}

footer {
    background-color: rgb(203, 198, 198);
    text-align: center;
}

.click {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
}

main{
    text-align: center;
}

